/* line 1, ../scss/style.scss */
html {
  box-sizing: border-box;
}

/* line 5, ../scss/style.scss */
h1, h2, h3, h4, a, p {
  font-family: 'Lato', sans-serif;
}

/* line 9, ../scss/style.scss */
b {
  color: #4bcaff;
}

/* line 13, ../scss/style.scss */
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
}

/* line 18, ../scss/style.scss */
body {
  font-family: helvetica;
}

/* line 22, ../scss/style.scss */
.header {
  padding-top: 90px;
  background-color: #616365;
  background: url(../img/workspace.jpg);
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
}
@media (max-width: 767px) {
  /* line 22, ../scss/style.scss */
  .header {
    padding-top: 70px;
  }
}
/* line 41, ../scss/style.scss */
.header div.title {
  padding: 15% 0;
  text-align: center;
}
/* line 45, ../scss/style.scss */
.header div.title h1, .header div.title h2 {
  color: #FFF;
  font-size: 2.7em;
  background: rgba(73, 84, 91, 0.84);
  padding: 10px;
}
/* line 52, ../scss/style.scss */
.header div.title h1 {
  width: 48%;
  margin: 0 auto 2% auto;
}
@media (max-width: 480px) {
  /* line 52, ../scss/style.scss */
  .header div.title h1 {
    font-size: 1em;
    width: 65%;
  }
}
/* line 62, ../scss/style.scss */
.header div.title h2 {
  width: 68%;
  margin: 0 auto;
}
@media (max-width: 480px) {
  /* line 62, ../scss/style.scss */
  .header div.title h2 {
    font-size: 1em;
    width: 88%;
  }
}

@media (min-width: 767px) {
  /* line 75, ../scss/style.scss */
  nav.top-nav-collapse {
    padding: 20px 0;
  }
}
/* line 80, ../scss/style.scss */
.navbar-inverse {
  background: rgba(73, 84, 91, 0.84);
  padding: 20px 0;
  border-color: transparent;
}
@media (max-width: 767px) {
  /* line 80, ../scss/style.scss */
  .navbar-inverse {
    padding: 10px 0;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }
}
/* line 90, ../scss/style.scss */
.navbar-inverse .navbar-toggle {
  border-color: transparent;
}
@media (max-width: 767px) {
  /* line 95, ../scss/style.scss */
  .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #4bcaff;
  }
}
/* line 101, ../scss/style.scss */
.navbar-inverse .navbar-nav {
  float: right;
}
/* line 104, ../scss/style.scss */
.navbar-inverse .navbar-nav li a {
  color: white;
  padding: 15px 20px;
  margin-left: 10px;
}
/* line 109, ../scss/style.scss */
.navbar-inverse .navbar-nav li a:hover {
  color: #4bcaff;
  border: 1px solid;
  border-color: #4bcaff;
  padding: 14px 19px;
  background-color: transparent;
}
@media (max-width: 767px) {
  /* line 104, ../scss/style.scss */
  .navbar-inverse .navbar-nav li a {
    margin-left: 0;
    margin-bottom: 10px;
  }
}

/* line 127, ../scss/style.scss */
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #4bcaff;
  border: 1px solid;
  border-color: #4bcaff;
  padding: 14px 19px;
  background-color: transparent;
}

@media (max-width: 767px) {
  /* line 136, ../scss/style.scss */
  #navbar ul {
    width: 100%;
    text-align: center;
    padding-right: 30px;
  }
}
/* line 143, ../scss/style.scss */
section#services {
  background-color: #4bcaff;
}
/* line 146, ../scss/style.scss */
section#services div.container {
  padding: 75px 15px;
}
@media (max-width: 767px) {
  /* line 146, ../scss/style.scss */
  section#services div.container {
    padding: 15px 15px;
  }
}
/* line 153, ../scss/style.scss */
section#services div.container span.design {
  display: block;
  margin: 0 auto;
  background: url(../img/sprite-services.png) no-repeat 0 0;
  width: 140px;
  height: 108px;
}
/* line 161, ../scss/style.scss */
section#services div.container h3 {
  text-align: center;
}
@media (max-width: 767px) {
  /* line 161, ../scss/style.scss */
  section#services div.container h3 {
    font-size: 17px;
  }
}
/* line 169, ../scss/style.scss */
section#services div.container h2, section#services div.container h3, section#services div.container p {
  color: #ffffff;
}
@media (max-width: 767px) {
  /* line 173, ../scss/style.scss */
  section#services div.container h2 {
    font-size: 20px;
  }
}
/* line 179, ../scss/style.scss */
section#services div.container span.web {
  display: block;
  margin: 0 auto;
  background: url(../img/sprite-services.png) no-repeat -157px -7px;
  width: 130px;
  height: 107px;
}

/* line 189, ../scss/style.scss */
section#portfolio {
  background-color: #ffffff;
}
/* line 192, ../scss/style.scss */
section#portfolio div.portfolio-header {
  margin-top: 20px;
  /* margin-bottom: 50px; */
}
/* line 197, ../scss/style.scss */
section#portfolio div.container {
  padding: 75px 15px;
}
@media (max-width: 767px) {
  /* line 197, ../scss/style.scss */
  section#portfolio div.container {
    padding: 15px 15px;
  }
}
/* line 205, ../scss/style.scss */
section#portfolio h2 {
  display: block;
  float: left;
  margin-top: 0;
  color: #666;
}
@media (max-width: 767px) {
  /* line 205, ../scss/style.scss */
  section#portfolio h2 {
    font-size: 20px;
  }
}
/* line 216, ../scss/style.scss */
section#portfolio ul#nav-portfolio {
  padding: 0;
  list-style: none;
  float: right;
}
@media (max-width: 420px) {
  /* line 216, ../scss/style.scss */
  section#portfolio ul#nav-portfolio {
    padding-right: 30px;
  }
}
/* line 225, ../scss/style.scss */
section#portfolio ul#nav-portfolio li {
  display: -webkit-inline-box;
}
/* line 228, ../scss/style.scss */
section#portfolio ul#nav-portfolio li span {
  font-family: 'Lato', sans-serif;
  display: block;
  padding: 4px 15px;
  text-decoration: none;
  color: #666;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
}
/* line 239, ../scss/style.scss */
section#portfolio ul#nav-portfolio li span:hover {
  color: #4bcaff;
  border: 1px solid;
  border-color: #4bcaff;
  padding: 3px 14px;
  background-color: transparent;
}
@media (max-width: 480px) {
  /* line 228, ../scss/style.scss */
  section#portfolio ul#nav-portfolio li span {
    font-size: 14px;
    /* padding: 4px 8px; */
  }
  /* line 251, ../scss/style.scss */
  section#portfolio ul#nav-portfolio li span:hover {
    color: #4bcaff;
    border: 1px solid;
    border-color: #4bcaff;
    padding: 3px 14px;
    background-color: transparent;
  }
}
/* line 263, ../scss/style.scss */
section#portfolio div.portfolio-images {
  padding: 75px 15px 0;
}
@media (max-width: 767px) {
  /* line 263, ../scss/style.scss */
  section#portfolio div.portfolio-images {
    padding: 15px 15px;
  }
}
/* line 270, ../scss/style.scss */
section#portfolio div.portfolio-images figure.image {
  background-color: #666;
  width: 23%;
  float: left;
  margin: 0 2% 2% 0;
}
@media (max-width: 480px) {
  /* line 270, ../scss/style.scss */
  section#portfolio div.portfolio-images figure.image {
    width: 48%;
  }
}
/* line 280, ../scss/style.scss */
section#portfolio div.portfolio-images figure.image img {
  max-width: 100%;
}
/* line 283, ../scss/style.scss */
section#portfolio div.portfolio-images figure.image img:hover {
  cursor: pointer;
}
/* line 289, ../scss/style.scss */
section#portfolio div.portfolio-images div.effects div.img {
  position: relative;
  overflow: hidden;
}
/* line 293, ../scss/style.scss */
section#portfolio div.portfolio-images div.effects div.img div.overlay {
  display: block;
  position: absolute;
  z-index: 20;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 304, ../scss/style.scss */
section#portfolio div.portfolio-images div.effects div.img div.overlay a.expand {
  display: block;
  position: absolute;
  z-index: 100;
  width: 60px;
  height: 60px;
  border: solid 5px #fff;
  text-align: center;
  color: #fff;
  line-height: 50px;
  font-weight: 700;
  font-size: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  text-decoration: none;
}
/* line 324, ../scss/style.scss */
section#portfolio div.portfolio-images div.effects div.img div.overlay a.close-overlay {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  width: 45px;
  height: 45px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  line-height: 45px;
  text-align: center;
  background-color: #000;
  cursor: pointer;
}
/* line 341, ../scss/style.scss */
section#portfolio div.portfolio-images div.effects div.img div.overlay a.close-overlay.hidden {
  display: none;
}
/* line 349, ../scss/style.scss */
section#portfolio div.portfolio-images div#effect-1 div.overlay {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
}
/* line 356, ../scss/style.scss */
section#portfolio div.portfolio-images div#effect-1 div.overlay a.expand {
  left: 0;
  right: 0;
  bottom: 50%;
  margin: 0 auto -30px auto;
}
/* line 366, ../scss/style.scss */
section#portfolio div.portfolio-images div#effect-1 div.img.hover div.overlay {
  height: 100%;
}

/* line 374, ../scss/style.scss */
section#just-default {
  background-color: #515f67;
}
/* line 378, ../scss/style.scss */
section#just-default div.container {
  padding: 75px 15px;
  margin-top: 20px;
}
@media (max-width: 767px) {
  /* line 378, ../scss/style.scss */
  section#just-default div.container {
    padding: 15px 15px;
  }
}
/* line 386, ../scss/style.scss */
section#just-default div.container h2, section#just-default div.container p {
  color: #ffffff;
}
/* line 390, ../scss/style.scss */
section#just-default div.container p {
  margin-bottom: 30px;
}
/* line 394, ../scss/style.scss */
section#just-default div.container h2 {
  margin-top: 0;
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  /* line 394, ../scss/style.scss */
  section#just-default div.container h2 {
    font-size: 17px;
    margin-bottom: 30px;
  }
}
/* line 405, ../scss/style.scss */
section#just-default div.container div.portfolio-left,
section#just-default div.container div.portfolio-right {
  margin-top: 20px;
}
/* line 411, ../scss/style.scss */
section#just-default div.container div.portfolio-right div.img-video {
  display: block;
  margin: 0 auto;
  text-align: center;
}
/* line 416, ../scss/style.scss */
section#just-default div.container div.portfolio-right div.img-video img {
  max-width: 100%;
}
